*.js          text eol=lf
*.scss        text eol=lf
*.css         text eol=lf
*.ejs         text eol=lf
*.html        text eol=lf
*.json        text eol=lf
*.md          text eol=lf
*.svg         text eol=lf
*.txt         text eol=lf
*.xml         text eol=lf
*.webmanifest text eol=lf
.gitignore    text eol=lf
.eslintrc     text eol=lf
.prettierrc   text eol=lf
.editorconfig text eol=lf
.slugignore   text eol=lf
.stylelintrc  text eol=lf
Procfile      text eol=lf
license       text eol=lf
