{
  "plugins": ["stylelint-scss"],
  "rules": {
    "indentation": 2,
    "unit-case": "lower",
    "linebreaks": "unix",
    "block-no-empty": true,
    "no-empty-source": true,
    "unit-no-unknown": true,
    "comment-no-empty": true,
    "string-quotes": "single",
    "color-hex-case": "lower",
    "string-no-newline": true,
    "at-rule-no-unknown": true,
    "color-hex-length": "short",
    "property-no-unknown": true,
    "no-empty-first-line": true,
    "color-no-invalid-hex": true,
    "no-unknown-animations": true,
    "no-duplicate-selectors": true,
    "at-rule-no-vendor-prefix": true,
    "function-calc-no-invalid": true,
    "selector-type-no-unknown": true,
    "rule-empty-line-before": "always",
    "at-rule-name-space-after": "always",
    "no-duplicate-at-import-rules": true,
    "media-feature-name-no-unknown": true,
    "font-family-no-duplicate-names": true,
    "selector-pseudo-class-no-unknown": true,
    "selector-pseudo-element-no-unknown": true,
    "scss/at-else-empty-line-before": "never",
    "function-calc-no-unspaced-operator": true,
    "block-opening-brace-space-before": "always",
    "declaration-block-no-duplicate-properties": true,
    "selector-pseudo-element-colon-notation": "double",
    "font-family-no-missing-generic-family-keyword": true,
    "function-linear-gradient-no-nonstandard-direction": true,
    "scss/at-if-closing-brace-space-after": "always-intermediate",
    "scss/at-else-closing-brace-space-after": "always-intermediate",
    "scss/at-if-closing-brace-newline-after": "always-last-in-chain",
    "scss/at-else-closing-brace-newline-after": "always-last-in-chain",
    "at-rule-empty-line-before": ["always", { "ignoreAtRules": ["else"] }],
    "block-closing-brace-newline-after": ["always", { "ignoreAtRules": ["if", "else"] }]
  }
}
