@use '../base/colors';
@use '../base/defaults';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  color: colors.$white;
  background-color: colors.$bg;
  -webkit-tap-highlight-color: transparent;
  font: {
    family: defaults.$fontFamily;
    size: defaults.$fontSize;
  }
}

ul,
ol {
  list-style: none;
}

input,
button,
textarea {
  outline: none;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  box-shadow: 0 0 0 100% colors.$white inset !important;
  -webkit-text-fill-color: colors.$bg !important;
}

img {
  max-width: 100%;
  height: auto;
}

img,
button {
  user-select: none;
}

a,
button {
  cursor: pointer;
}

a,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 1.7;
}

i {
  font-style: normal;
  cursor: pointer;
}

noscript {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
  color: colors.$white;
  background-color: colors.$bg;
  text-transform: uppercase;
  word-spacing: 4px;
  letter-spacing: 2px;
  font: {
    size: 3rem;
    weight: bold;
  }
}
