@charset 'UTF-8';

@import 'sass/config';

main {
  margin: 50px auto;
  text-align: center;
  color: $whiteColor;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  .err-box {
    background-color: $redColor;
    padding: 15px 30px;
    border-radius: 25px;
    margin: 0 auto 30px auto;
    max-width: 227.05px;
    user-select: none;
    font: {
      size: 9.6rem;
      weight: bold;
    }
  }
  .err-text {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  .go-home {
    background-color: $mainColor;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 2rem;
    user-select: none;
  }
}
