@charset 'UTF-8';

@import 'sass/config', 'sass/tools/svg-url';

main {
  margin-top: 10%;
  @media (min-width: $mediaSmall) and (max-width: $mediaLarge) {
    margin-top: 15%;
  }
  @media (min-width: $mediaXS) and (max-width: ($mediaSmall - 1)) {
    margin-top: 20%;
  }
  @media (max-width: ($mediaXS - 1)) {
    margin-top: 30%;
  }
  .input-box {
    position: relative;
    margin: auto;
    input,
    button {
      height: 42px;
      font-size: 2rem;
      border-width: 0;
    }
    input {
      width: 85%;
      padding: $mainMargin 38px $mainMargin $mainMargin;
      background-color: lighten($bgColor, 10%);
      color: $whiteColor;
      border-top-left-radius: $borderRadius;
      border-bottom-left-radius: $borderRadius;
    }
    button {
      width: 15%;
      background-color: $mainColor;
      color: $whiteColor;
      border-top-right-radius: $borderRadius;
      border-bottom-right-radius: $borderRadius;
      transition: background-color 0.5s ease;
      &[disabled] {
        background-color: lighten($mainColor, 25%);
        cursor: default;
      }
    }
    i {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 27%;
      right: 16%;
      overflow: hidden;
      z-index: 2;
      @media (max-width: $mediaXS) {
        display: none !important;
      }
      &#clipPaste {
        > svg {
          fill: #fff;
        }
      }
      &#clrInput {
        transition: transform 0.5s ease;
        > svg {
          fill: lighten(#f00, 15%);
        }
      }
    }
  }
}

#output {
  margin: 0.5% auto;
  .video-card {
    display: flex;
    align-items: center;
    align-self: center;
    @media (max-width: $mediaXS) {
      flex-direction: column;
      .thumbnail,
      .info,
      .download {
        width: 100% !important;
        padding: 0 !important;
        margin: 2% auto;
        text-align: center;
      }
    }
    .thumbnail {
      width: 272px;
      height: 180px;
      position: relative;
      border-radius: $borderRadius;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        border-radius: $borderRadius;
        object-fit: cover;
      }
      .play-video {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        > svg {
          fill: $darkMarkerColor;
          transition: fill 0.5s ease;
          &:hover {
            fill: darken($darkMarkerColor, 50%);
          }
        }
      }
      .duration {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: ($mainPadding / 3);
        font-size: 1.4rem;
        background-color: lighten($darkMarkerColor, 5%);
        border-bottom-right-radius: $borderRadius;
        border-top-left-radius: $borderRadius;
        letter-spacing: 1px;
        pointer-events: none;
        user-select: none;
      }
    }
    .info {
      display: flex;
      flex-flow: column nowrap;
      width: calc(100% - 272px);
      padding-left: $mainPadding;
      .title,
      .author {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        letter-spacing: 1.5px;
      }
      .title {
        font-size: 1.6rem;
        margin-bottom: 10px;
      }
      .author {
        font-size: 1.12rem;
        font-weight: bold;
        color: #ddd;
        transition: color 0.5s ease;
        &:hover {
          color: $whiteColor;
        }
      }
      .download {
        width: 70%;
        height: 45px;
        margin-top: 5%;
        position: relative;
        text-align: center;
        @media (min-width: $mediaSmall) and (max-width: $mediaLarge) {
          width: 78%;
        }
        @media (max-width: ($mediaSmall - 1)) {
          width: 100%;
        }
        .formats-list,
        .get {
          display: block;
          float: left;
          border: 1.5px solid $mainColor;
          cursor: pointer;
        }
        .formats-list {
          width: 70%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          color: $mainColor;
          background-color: transparent;
          border-top-left-radius: $borderRadius;
          border-bottom-left-radius: $borderRadius;
          user-select: none;
          transition: height 0.2s ease;
          &:not([data-list-open]) {
            height: 100%;
            overflow: hidden;
            li:not(:first-of-type) {
              display: none;
            }
          }
          &[data-list-open] {
            height: auto;
            border-bottom-right-radius: $borderRadius;
            + .drop-icon {
              transform: rotate(180deg);
            }
            li:not(:last-of-type) {
              border-bottom: 1px solid $mainColor;
            }
          }
          li {
            width: 100%;
            font-size: 1.6rem;
            line-height: 42px;
            word-spacing: 3px;
            transition: padding-left 0.5s ease;
            &:not(:first-of-type):hover {
              padding-left: 7px;
            }
            &.no-audio {
              position: relative;
              &::after {
                content: '';
                display: inline-block;
                width: 20px;
                height: 20px;
                position: absolute;
                top: calc(50% - 10px);
                left: 10px;
                pointer-events: none;
                @include background-svg(
                  '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="#{$redColor}" d="M15 8.59l-2.12-2.13-1.42 1.42L13.6 10l-2.13 2.12 1.42 1.42L15 11.4l2.12 2.13 1.42-1.42L16.4 10l2.13-2.12-1.42-1.42L15 8.6zM4 7H0v6h4l5 5V2L4 7z"/></svg>'
                );
              }
            }
          }
        }
        .drop-icon {
          width: 25px;
          height: 25px;
          font-size: 1.6rem;
          position: absolute;
          top: 25%;
          right: 34%;
          transition: transform 0.4s ease-out;
          pointer-events: none;
          > svg {
            fill: $mainColor;
          }
        }
        .get {
          width: 30%;
          height: 100%;
          font-size: 2rem;
          color: $whiteColor;
          background-color: $mainColor;
          border-top-right-radius: $borderRadius;
          border-bottom-right-radius: $borderRadius;
        }
      }
    }
  }
  .loading {
    width: 60px;
    height: 60px;
    margin: 5% auto;
    border-top: 2px solid $mainColor;
    border-bottom: 2px solid transparent;
    border-radius: 50%;
    animation: spinner 1s infinite linear;
    overflow: hidden;
    cursor: progress;
  }
  .errbox {
    margin: 5% auto;
    text-align: center;
    overflow: hidden;
    .err-icon > svg {
      width: 50px;
      height: 50px;
      fill: $redColor;
    }
    .err-msg {
      font-size: 2.7rem;
    }
  }
}

main .input-box,
#output {
  width: 60%;
  @media (min-width: $mediaSmall) and (max-width: $mediaLarge) {
    width: 70%;
  }
  @media (min-width: $mediaXS) and (max-width: ($mediaSmall - 1)) {
    width: 90%;
  }
  @media (max-width: ($mediaXS - 1)) {
    width: 100%;
  }
}
