@use 'base/colors';
@use 'base/defaults';

main {
  margin: 50px auto;
  text-align: center;
  color: colors.$white;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  .err-box {
    background-color: colors.$red;
    padding: defaults.$padding (defaults.$padding * 2);
    border-radius: (defaults.$borderRadius * 2.5);
    margin: 0 auto (defaults.$margin * 2) auto;
    max-width: 227.5px;
    user-select: none;
    font: {
      size: 9.6rem;
      weight: bold;
    }
  }
  .err-text {
    font-size: 2.5rem;
    margin-bottom: (defaults.$margin * 2);
  }
  .go-home {
    background-color: colors.$main;
    padding: (defaults.$padding / 1.5) ceil(defaults.$padding * 1.3);
    border-radius: defaults.$borderRadius;
    font-size: 2rem;
    user-select: none;
  }
}
