<div class="top-linear"></div>
<header>
  <h1>
    <a href="/" tabindex="-1"><span>M</span>ad<span>L</span>oad</a>
  </h1>
  <nav>
    <a
      href="https://twitter.com/osamaify"
      target="_blank"
      title="Follow Osama on Twitter!"
      tabindex="-1"
      >@osamaify &hearts;</a
    >
  </nav>
</header>
